footer {
  .links p {
    color: hsl(45deg, 34%, 20%);

    a {
      color: hsl(45deg, 34%, 20%);
      //text-decoration: none;
    }
  }
  .copyright p {
    text-align: right;
  }
}

@media(max-width: 991px) {
  footer {
    .copyright p {
      text-align: left;
    }
  }
}