.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;

  .BackgroundImage {
    opacity: 0.8;
  }

  .container {
    animation: fadeIn 0.5s ease-out;
  }
}

.slider_area .single_slider .slider_contant {
  background-color: hsl(44.8, 34.5%, 75%);
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
